@media all and (max-width: 1800px) {

  .popular-item p{
	  padding-left: 10px;
	  text-align: center;
	  font-size: 10px;
  }
  
  .popular {
	  width: 50%;
	  display: block;
  }

    
   @media all and (max-width: 1200px) {


  .popular-item p{
	  padding-left: 10px;
	  text-align: center;
	  font-size: 10px;
  }
  
  .popular {
	  width: 50%;
	  display: block;
  }
