li {
		list-style: none;
	}
  .container-f {
	  width: 1172px;
	  height: 220px;
	  background-image: url(https://user-images.githubusercontent.com/67105615/85192865-59fdfe80-b2ee-11ea-8202-129f0fb8b44d.jpg);
	  background-size: cover;
	  }
	  
.kelompok {
  width: 100%;
  height: 50px;
  font-weight: bold;
  background-color: burlywood;
  color: white;
  text-align: center;
  opacity: 0.7;
  text-shadow: 2px 2px 4px #000000;
  box-shadow: 0 2px grey;
}

.kelompok h2 {
	padding-top: 10px;
}

.nama {
	width: 100%;
	height: 80px;
	margin: 0 auto;
}

.nama li {
	font-size: 18px;
	padding-bottom: 15px;
	font-weight: bold;
	color: white;
	
  text-shadow: 2px 2px 4px #000000;
}

.support {
float: right;
display: block;


}

.support li {
float: right;
margin-right: 50px;
}

.support p {

font-size: 15px;
color: red;
text-shadow: 2px 2px 4px black;
}

.container-f:hover {
  
  animation: bounce; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 2s; /* don't forget to set a duration! */
  
}

.container-f:hover h2 {
	animation: hinge; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 2s; /* don't forget to set a duration! */
  
}
footer img {
  width: 100px;
  margin-right: 40px;
}
